:root {
  --lemon: #ecd078;
  --clementine: #d95b43;
  --ruby: #c02942;
  --dark-cherry: #542437;
  --pine-green: #53777a;
}

body {
  background-color: var(--pine-green);
  color: beige;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  background-color: var(--dark-cherry);
  padding: 1.65rem;
  margin: 5px;
  color: var(--lemon);
  font-size: 1.5rem;
  max-width: 300px;
  border-radius: 1rem;
}

.book-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.book-title {
  font-size: 2rem;
  color: var(--lemon);
  font-weight: bold;
  margin-bottom: 1rem;
}

.book-author::before {
  content: 'by ';
  color: var(--pine-green);
}

.book-author {
  color: var(--pine-green);
}

.book-pages::after {
  content: ' pages ';
  color: var(--pine-green);
}

.book-pages {
  color: var(--pine-green);
}

.book-Read {
  color: var(--pine-green);
}

.book-Unread {
  color: var(--ruby);
}
